html, body, canvas {
  margin: 0px;
  padding: 0px;
}

body {
  background: black;
}

canvas {
  border: 4px solid black;
}

.over {
  border: 4px solid red;
}



/* GAME UI */

#dialog {
  display: none;
  position: absolute;
  top: 30%;
  height: 100px;
  left: 40%;
  color: green;
  border: 3px solid green;
  padding: 20px;
}

button {
  display: block;
  position: relative;
  margin: 10px;
  background: black;
  color: green;
  border: 1px solid green;
}

button:hover {
  cursor: pointer;
  cursor: hand;
}

a, a:hover {
  text-decoration: none;
}