html, body, canvas {
  margin: 0px;
  padding: 0px;
}

body {
  background: black;
}

canvas {
  border: 4px solid black;
}

.over {
  border: 4px solid red;
}



/* GAME UI */

#dialog {
  display: none;
  position: absolute;
  top: 30%;
  /*height: 100px;*/
  color: green;
  border: 3px solid green;
  padding: 20px;
  text-align: center;
}

@media screen and (max-width: 800px) {
  #dialog {
    left: 32.5%;
    width: 35%;
  }
}

@media screen and (min-width: 800px) {
  #dialog {
    left: 40%;
    width: 20%;
  }
}

button {
  display: block;
  position: relative;
  width: 50px;
  margin: 10px auto;
  background: black;
  color: green;
  border: 1px solid green;
}

button:hover {
  cursor: pointer;
  cursor: hand;
  background: #303030;
}

a, a:hover {
  text-decoration: none;
}